<%= render "lesson_link" %>
<% @lessons.each do |lesson| %>
    <p>Name: <%= lesson.name %><p>
    <p>Format: <%= lesson.format %><p>
    <p>Format: <%= lesson.questions %><p>
    <% if lesson.complete == true %>
        <p>Completed: yes</p>
    <% else %>
        <p>Completed: no</p>
    <% end %>
<% end %>